<% a_post.comments.each do |comment| %>

  <div class='border-bottom p-3'>
    
    <div class='d-flex'>
      
      <%= link_to admin_user_path(comment.user.canonical_name) do %>
        <i class="fa-regular fa-user"></i>
        <%= comment.user.public_name %>
      <% end %>

      <%= link_to I18n.t('destroy'), admin_post_comment_path(a_post.id, comment.id), method: :delete, 
                                     remote: true, data: {"turbolinks" => false}, 
                                     class: 'btn btn-sm bordered ml-auto', 
                                     'data-confirm' => I18n.t('posts.destroy.confirmation') %>
      
    </div>
    
    <p><%= comment.content %></p>
    
  </div>
  
<% end %>