<h1>Public::CounselingRooms#show</h1>
<p>Find me in app/views/public/counseling_rooms/show.html.erb</p>


<!--if @participations.exists?(user_id: current_user.id)-->



<!--if @couseling_room.user == curent_user-->