<p class='guide-links'>
  <%= link_to I18n.t('top_page'), root_path %>>
  <%= link_to I18n.t('menu'),     menu_path %>>
  <%= I18n.t('about') %>
</p>


<div class='section-title'><h2><%= I18n.t('about') %></h2></div>

<section>

  <p class='text-center mb-3'>
    日本生活の「初心者」と「ベテラン」を繋ぎ、<span class='responsive-disabled'></br></span>
    多様性に富んだ美しく多彩な日本を築くためのコミュニティーサイトです。</p>

  <p class='text-center mb-3'>
    日本の文化が世界で称賛され、海外から日本へ訪れる人々が増えました。<span class='responsive-disabled'></br></span>
    良い影響もたくさんある一方で、様々な問題も生じます。</p>

  <p class='text-center mb-3'>
    来日なさった人々にとっては、リスペクトを持って日本へ訪れたにもかかわらず、<span class='responsive-disabled'></br></span>
    初めての文化や常識に戸惑い、上手く順応できない場面があります。<span class='responsive-disabled'></br></span>
    一方で、日本に元々住んでいる人々にとっては、<span class='responsive-disabled'></br></span>
    生活に根付いてきた大切にしたい文化や常識を脅かされることに<span class='responsive-disabled'></br></span>
    不安を覚える場面に遭遇することがあります。</p>

  <p class='text-center mb-5'>
    全員が互いを理解し合うための手助けがしたいという想いから、<span class='responsive-disabled'></br></span>
    日本生活の「初心者」と「ベテラン」の間での相互理解を促すために当サイトを制作いたしました。
  </p>

  <p class='pb-5'>
    <!-- 英語版も作成予定-->
  </p>

</section>
