<h2 class='section-title'><%= I18n.t('menu') %></h2>

<section>
  <h4 class='text-center my-5'>
    <%= link_to I18n.t('menus.rooms'), root_path %><!--後ほど正しいリンクにする-->
  </h4>
  <h4 class='text-center my-5'>
    <%= link_to I18n.t('menus.posts'), admin_posts_path %>
  </h4>
  <h4 class='text-center my-5'>
    <%= link_to I18n.t('menus.users'), admin_users_path %>
  </h4>
</section>