@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
  padding:    0;
  margin:     0;
  box-sizing: border-box;
}

// 全体
html {
  height:              100%;
}
body {
  min-height:          100%;
  background-color:    rgb(212, 211, 202);
  position:            relative;
}
html, body {
  font-family:         "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight:         300;
  font-style:          normal;
}
p, h2 {
  color:               rgb(81, 78, 77);
}


// リンクのレイアウト
a:link, a:visited {
  color:           rgb(81, 78, 77);
  text-shadow:     2px 2px 3px #808080;
}
a:hover {
  color:           rgb(245, 243, 242);
  text-shadow:     2px 2px 3px #808080;
  text-decoration: none;
}
a:active {
  color:           rgb(245, 243, 242);
}

// ヘッダーのレイアウト
header {
  position:     absolute;
  top:          20px;
  right:        20px;
  width:        50px;
}
header li {
  writing-mode: vertical-rl;
  list-style:   none;
}

// フッターのレイアウト
footer {
  position:     absolute;
  bottom:       10px;
  left:         10px;
  width:        50px;
  writing-mode: vertical-rl;
  color:        rgb(81, 78, 77);
}

// 各ページ共通レイアウト
section {
  width:          70%;
  margin:         70px auto;
}
.section-title {
  font-size:      50px;
  width:          40%;
  text-align:     right;
  padding-right:  40px;
  margin-top:     50px;
  padding-bottom: 10px;
  border-bottom:  1px solid rgb(81, 78, 77);
}

// フォームのレイアウト
.success-btn {
  background-color: rgb(245, 243, 242);
  box-shadow:       5px 5px 5px #808080;
}
input {
  box-shadow:       5px 5px 5px #808080;
}
.no-shadow input { //ラジオボタンの親要素に設定
  box-shadow:       none;
}

// homes/topのレイアウト
#toppage-box {
  width:        80%;
  margin:       30px auto 10px;
  box-shadow:   5px 5px 5px #808080;
}
#toppage-title {
  text-align:   center;
  padding:      10px;
  writing-mode: vertical-rl;
  margin-left:  10px;
}
#toppage-caption {
  width:        80%;
  margin:       0 auto;
  font-size:    14px;
}

@media screen and (max-width:768px) {
  .section-title {
    font-size:      30px;
    width:          60%;
  }
}