@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
  padding:    0;
  margin:     0;
  box-sizing: border-box;
}
                                            // 以下、全体レイアウト
html {
  height:              100%;
}

body {
  min-height:          100%;
  background-color:    rgb(212, 211, 202);
  position:            relative;
}

html, body {
  font-family:         "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight:         300;
  font-style:          normal;
}

p, h2, h4, sm {
  color:               rgb(81, 78, 77);
}

.md-font {
  font-size:           14px;
}

.sm-font {
  font-size:           10px;
}

.text-vertical { //トップ画面とメニュー画面で使用
  writing-mode:        vertical-rl;
}
                                            // 以下、リンクのレイアウト
a:link, a:visited {
  color:           rgb(81, 78, 77);
  text-shadow:     2px 2px 3px #808080;
}

a:hover {
  color:           rgb(245, 243, 242);
  text-shadow:     2px 2px 3px #808080;
  text-decoration: none;
}

a:active {
  color:           rgb(245, 243, 242);
}
                                            // 以下、言語切り替えボタンのレイアウト
#locale-select-button {
  width:    100%;
}
                                            // 以下、ヘッダー、通知のレイアウト
header {
  position:     absolute;
  top:          20px;
  right:        20px;
  width:        50px;
}

header li {
  writing-mode: vertical-rl;
  list-style:   none;
}

#notification-icon,
#close-notification-box {
  color:        rgb(81, 78, 77);
  text-shadow:  2px 2px 3px #808080;
}

#notification-icon:hover,
#close-notification-box:hover {
  color:        rgb(245, 243, 242);
  text-shadow:  2px 2px 3px #808080;
}

#notification-icon:active,
#close-notification-box:active {
  color:        rgb(245, 243, 242);
}

#notifications-box {
  display:          none;
  position:         fixed;
  top:              50px;
  right:            50px;
  width:            250px;
  max-height:       300px;
  padding:          20px;
  background-color: rgb(245, 243, 242);
  border-radius:    20px;
  z-index:          9;
}

.ringing {
  color:           #8f2e14;
}

.ringing:hover,
.ringing:active {
  color:           rgb(245, 243, 242);
}
                                            // 以下、フッターのレイアウト
footer {
  position:     absolute;
  bottom:       10px;
  left:         10px;
  width:        50px;
  writing-mode: vertical-rl;
  color:        rgb(81, 78, 77);
}
                                            // 以下、各ページ共通レイアウト
section {
  width:          70%;
  margin:         80px auto 0;
  padding-bottom: 110px;
}

.section-title {
  width:          40%;
  text-align:     right;
  padding-right:  20px;
  margin-top:     50px;
  padding-bottom: 10px;
  border-bottom:  1px solid rgb(81, 78, 77);
}

.section-title h2 {
  font-size:      28px;
}

.guide-links {
  font-size:      14px;
  width:          85%;
}

.back_to_pagetop {
  position:       fixed;
  right:          15px;
  bottom:         15px;
}
                                            // 以下、フォームのレイアウト
.success-btn {
  background-color: rgb(245, 243, 242);
  box-shadow:       5px 5px 5px #808080;
}

input {
  box-shadow:       5px 5px 5px #808080;
}

.required::after {
  content:          '  *';
  color:            #8f2e14;
}

.file-form {
  padding:          5px 15px;
  background-color: rgb(245, 243, 242);
  cursor:           pointer;
  border-radius:    4px;
  transition:       .3s;
}

.file-form:hover {
  opacity:          0.8;
}

.hidden {
  display:          none;
}

.no-shadow input { // radio_buttonとfile_fieldの親要素に設定
  box-shadow:       none;
}
                                            // 以下、homes/topのレイアウト
#toppage-box {
  width:        80%;
  height:       245px;
  margin:       30px auto 10px;
  box-shadow:   5px 5px 5px #808080;
  opacity:      0;
  position:     relative;
}

#toppage-title {
  position:     absolute;
  left:         10px;
  bottom:       10px;
}

#toppage-caption {
  width:        80%;
  margin:       0 auto;
  font-size:    14px;
}
                                            // 以下、users/indexの共通レイアウト
.user-index-item {
  width:            142px;
  height:           230px;
  padding:          10px;
  margin:           5px;
  background-color: rgb(245, 243, 242);
  border:           1px solid rgb(81, 78, 77);
  border-radius:    5px;
  box-shadow:       5px 5px 5px #808080;
  text-shadow:      none;
  position:         relative;
}

.user-index-item:hover {
  background-color: rgb(245, 243, 250);
}

.user-index-item:active {
  box-shadow:       none;
}

.user-index-chart-box {
  position:         absolute;
  bottom:           0px;
  right:            10px;
}
                                            // 以下、管理者のusers/showでのレイアウト
.admin-users-show-box {
  border-bottom:  1px solid rgb(81, 78, 77);
  width:          70%;
  margin:         0 auto;
}

.user-data-display {
  width:            100%;
  padding:          5px;
  border-radius:    5px;
  background-color: rgb(245, 243, 242);
}
                                            // 以下、posts,categories,counseling_rooms,chatsのindexレイアウト
.post-index-item,
.category-item,
.counseling-room-item,
.chat-rooms-item {
  padding:          10px;
  margin:           10px;
  background-color: rgb(245, 243, 242);
  border:           1px solid rgb(81, 78, 77);
  border-radius:    5px;
  box-shadow:       5px 5px 5px #808080;
  text-shadow:      none;
}

.post-index-item:hover,
.category-item:hover,
.counseling-room-item:hover,
.chat-rooms-item:hover {
  background-color: rgb(245, 243, 250);
}

.post-index-item:active,
.category-item:active,
.counseling-room-item:active,
.chat-rooms-item:active {
  box-shadow:       none;
}

.post-index-item {
  width:            300px;
  height:           450px;
}

.category-item {
  width:            200px;
  height:           80px;
}

.counseling-room-item {
  width:            200px;
  height:           120px;
}

.chat-rooms-item {
  height:           80px;
}

.index-post-image {
  min-width:        100%;
  max-width:        100%;
  max-height:       208px;
  min-height:       208px;
}
                                            // 以下、各種タグの共通レイアウト
.tag-item {
  display:          inline-block;
  margin:           5px;
}
                                            // 以下、user.positionを表示する際のレイアウト
.position-beginner {
  background-color: rgb(84, 195, 241);
  color:            rgb(245, 243, 242);
  padding:          0 10px;
  border-radius:    10px;
  text-align:       center;
}

.position-intermediate {
  background-color: rgb(220, 188, 0);
  color:            rgb(245, 243, 242);
  padding:          0 10px;
  border-radius:    10px;
  text-align:       center;
}

.position-veteran {
  background-color: rgb(169, 175, 29);
  color:            rgb(245, 243, 242);
  padding:          0 10px;
  border-radius:    10px;
  text-align:       center;
}
                                            // 以下、タブ切り替えに関わるcss
#tab-menu li {
  list-style-type: none;
  width:           30%;
  text-align:      center;
}

#tab-menu li .active {
  color:           rgb(160, 138, 35);
}

#tab-contents .tab {
  width:           100%;
}

.tab-title {
  border-top:      1px solid #fff;
  border-bottom:   1px solid #fff;
}
                                            // 以下、chat_rooms/showのレイアウト
.chat-form {
  position:         fixed;
  bottom:           20px;
  left:             0;
  width:            100%;
}
.chat-box {
  width:            70%;
  padding:          10px;
  margin-top:       10px;
  border-radius:    10px;
  background-color: rgb(245, 243, 242);
}
.chat-history {
  padding-bottom:   120px;
  width:            100%;
  height:           300px;
}
                                            // 以下、スマホサイズのレスポンシブ対応
@media screen and (max-width:768px) {
  .sm-font {
    font-size:    8px;
  }

  section {
    width:        95%;
  }

  .section-title { //各ページの見出しサイズを少し小さくしてる
    width:        60%;
    margin-top:   30px;
  }

  .section-title h2 {
    font-size:    20px;
  }

  .guide-links { //各ページのリンク案内のサイズを少し小さくしてる
  font-size:      10px;
  margin-left:    10px;
  }

  header { // ヘッダーの位置を際に寄せている
    top:          10px;
    right:        8px;
    width:        30px;
  }

  footer { // フッターのサイズを小さくしている
    bottom:       10px;
    left:         5px;
    width:        25px;
  }

  .copy-right { //コピーライトの表示変更
    position:     absolute;
    bottom:       2px;
    width:        100%;
    text-align:   center;
    color:        rgb(71, 68, 67);
    font-size:    10px;
  }

  label {
    font-size:    14px;
  }

  em {
    font-size:    14px;
  }
}