<div id='notifications-box' class='overflow-auto'>
  <p class='text-right'>
    <span id='close-notification-box'>
        <i class="fa-solid fa-xmark"></i>
    </span>
  </p>
  </span>
  <% if current_user.notifications.where(read: false).any? %>
    <p class='disabled sm-font'><%= I18n.t('notifications.limited_by') %></p>
    <% current_user.notifications.where(read: false).limit(10).order(created_at: :desc).each do |notification| %>
      <p>・<%= link_to notification.message, notification, method: :patch %></p>
    <% end %>
  <% else %>
    <p class='disabled text-center'><%= I18n.t('notifications.non_exist') %></p>
  <% end %>
</div>