<% if obj.errors.any? %>
  <%= obj.errors.count.to_s + I18n.t('errors.count') %>
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>