<% if obj.errors.any? %>

  <p class='text-danger'>
    <%= obj.errors.count.to_s + I18n.t('errors.count') %>
  </p>
  
  <ul>
    <% obj.errors.full_messages.each do |message| %>
      <li class='list-unstyled'><p class='text-danger'>・<%= message %></p></li>
    <% end %>
  </ul>
  
<% end %>