<div>
  <p class='text-right mb-3'><%= link_to I18n.t('top_page'), root_path  %></p>
  <p class='text-right'     ><%= link_to I18n.t('about'),    about_path %></p>
</div>
<p class='text-center mt-auto mb-1'>Copyright © sgmkhr All Rights Reserved.</p>